h1{
    text-align: center;
    font-size: 70px;
}

.perfil-container{
    display: flex;
	flex-wrap: wrap;
    align-items: center;
    /* padding: 0px 50px; */
    background-color: rgba(255, 255, 255, 0.452);
}

.perfil-info{
    font-size: larger;
    padding: 80px;
}

.data{
    display:flex;
    gap: 90px
}

img{
	width: auto;
	height: full;
	object-fit: cover;
	aspect-ratio: 1 / 1;
	border-radius: 100%;
	margin: 25px;
}

select{
    width: 60%;
    padding: 5px 10px;
    margin: 0px -5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}