.tarjeta{
	background-color: #c9201a;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	padding: 1px 20px;
	width: 200px;
	height: 330px;
	margin: 40px 5%;
	font-size: 25px;
	text-align: center;
	transition: 0.3s;
}

a{
	text-decoration: none;
	color: black;
}

.tarjeta:hover{
	background-color: #d68d1f;
	transition: 0.3s;
}

.tarjeta-img{
	width: 80%;
	height: auto;
	margin: 0px 10%;
}