.contenedor{
    background-color: rgba(255, 255, 255, 0.685);
    text-align: center;
	align-items: center;
	display: flex;
	margin:10%;
	/* flex-direction: column; */
	border-radius: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
	align-items: center;
	flex-direction: column;
}
li{
	display: flex;
	margin-top: 10px;
	align-items: center;
}
img{
    width: 40px;
	height: auto;
}

.lista{
    text-align: left;
	width: 60%;
}