.contenedor{
    background-color: rgba(255, 255, 255, 0.685);
    /* text-align: center; */
	align-items: center;
    justify-content: center;
	display: flex;
	margin:10%;
	/* flex-direction: column; */
	border-radius: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
	align-items: center;
	flex-direction: column;
}
li{
	display: flex;
	margin-top: 10px;
	align-items: center;
}
img{
    width: 40px;
	height: auto;
}

.titulo{
    /* padding-right: 1000px; */
}

.lista{
    text-align: left;
    padding-left: 25%;
	width: 40%;
}