@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url('./assets/fondo_landing.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Poppins', 'Segoe UI', 'Roboto', 'Arial', sans-serif;
}

button {
    background-color: #c9201a;
    transition: 0.2s;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

button:hover {
    background-color: #c98c1a;
    transition: 0.2s;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.main {
    text-align: center;
    padding: 1em;
    margin: 0 auto;
    max-width: 800px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
