img{
    width: 70px;
    height: 70px;
    padding-left: 60px;
}

nav{
    background-color: rgba(255, 255, 255, 0.384);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
	width: 100%;
}

ul{
	width: 100%;
    align-items: center;
    display: flex;
    list-style-type: none;
	margin: 0% 10%;
}

li{
	align-items: center;
    text-align: center;
    margin: 0 35px;
}

a{
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: large;
	transition: 0.2s;
	width: 100%;
}

a:hover{
    font-size: larger;
    transition: 0.2s;
}