.tarjeta-comida{
	width: full;
	height: 300px;
	margin: 50px 300px;
	border-radius: 10px;
	background-color: rgb(226, 167, 40);
	display: flex;
}

img{
	width: auto;
	height: full;
	object-fit: cover;
	aspect-ratio: 1 / 1;
	border-radius: 10px;
	margin: 25px;
}